[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "pgn_to_sqlite"
author = "Ricky White"
author-email = "ricky@whitelionmedia.com"
home-page = "https://github.com/EndlessTrax/pgn-to-sqlite"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
] 
description-file = "README.md"
requires = [
    "click",
    "requests",
    "berserk"
]
requires-python=">=3.7"

[tool.flit.metadata.urls]
Documentation = "https://github.com/EndlessTrax/pgn-to-sqlite/blob/master/README.md"
Issues = "https://github.com/EndlessTrax/pgn-to-sqlite/issues"

[tool.flit.scripts]
pgn-to-sqlite = "pgn_to_sqlite.cli:cli"
