berserk
click
requests
black
flit
pytest
pytest-cov
ruff
isort
tox
typing_extensions==3.10.0.0 # Required for Black to run on Python < 3.10
typed-ast>=1.4.2 # Required for Black to run on Python < 3.8
importlib-metadata # Required for Click to run on Python < 3.8 
